<!DOCTYPE html>
<html>
  <head>
    <title>404!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style404.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">
    </head>
    <body>
      <div id="main">
          <h1>
           NOT FOUND ! 
            </h1>
          <h1>
            404
          </h1>
        </div>
    </body>
    <footer>
      <a href="https://twitter.com/RoardiLeone">
        Twitter <em>@RoardiLeone</em>
      </a>
    </footer>
</html>