<!DOCTYPE html>
<html>

<head>
  <title>URL Shortener Microservice</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">
</head>

<body>
  <div id="main">
    <h1>
            URL Shortener Microservice
            </h1>
    <p>
      <h2>
         CREATION USAGE:
       </h2>

      <code>
          <span class="location" ></span>new/https://www.google.com
       </code> <br>
    </p>
    <p>
      <h2>
           CREATION OUTPUT:
         </h2>

      <code>
           { "original_url":"http://foo.com:80", "short_url":"
            <span class="location" ></span>8170" }
         </code> <br>
    </p>
    <p>
      <h2>
             USAGE:
           </h2>

      <code>
              <span class="location" ></span>new/2871
           </code> <br>
    </p>
    <p>
      <h2>
                  Will redirect to:
             </h2>
      <code>
                <span class="location" ></span>https://www.google.com/
             </code> <br>
    </p>
  </div>
  <script src="./client.js"></script>
</body>
<footer>
  <a href="https://twitter.com/RoardiLeone">
        twitter: <em> @RoardiLeone </em>
      </a>
</footer>

</html>
