footer{
  text-align: center;
}
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 80%;
 margin: 50px auto;

}
h1 {
  font-weight: bold;
  color: #00cde6 !important;
}

em{
  color: dodgerblue;
}
